
<% content_for :title do %>年度別一覧<% end %>
<%= link_to("理論","/type/1",data:{"turbolinks" => false }) %>
<%= link_to("配電理論","/type/2",data:{"turbolinks" => false }) %>
<%= link_to("機器","/type/type3",data:{"turbolinks" => false }) %>
<%= link_to("工事","/type/type4",data:{"turbolinks" => false }) %>
<%= link_to("高圧","/type/type5",data:{"turbolinks" => false }) %>
<%= link_to("低圧","/type/type6",data:{"turbolinks" => false }) %>
<%= link_to("検査","/type/type7",data:{"turbolinks" => false }) %>
<%= link_to("放棄","/type/type8",data:{"turbolinks" => false }) %>
<%= link_to("鑑別","/type/type9",data:{"turbolinks" => false }) %>
<%= link_to("受電設備","/type/type10",data:{"turbolinks" => false }) %>
<%= link_to("シーケンス","/type/type11",data:{"turbolinks" => false }) %>

<%= link_to("2010","/year/2010",data:{"turbolinks" => false }) %>
<%= link_to("2011","/year/2011",data:{"turbolinks" => false }) %>
<%= link_to("2012","/year/2012",data:{"turbolinks" => false }) %>
<%= link_to("2013","/year/2013",data:{"turbolinks" => false }) %>
<%= link_to("2014","/year/2014",data:{"turbolinks" => false }) %>
<%= link_to("2015","/year/2015",data:{"turbolinks" => false }) %>
<%= link_to("2016","/year/2016",data:{"turbolinks" => false }) %>
<%= link_to("2017","/year/2017",data:{"turbolinks" => false }) %>
<%= link_to("2018","/year/2018",data:{"turbolinks" => false }) %>

<div>模試</div>
